h1, h2, h3, h4, button, .btn {
	font-family: 'Questrial', sans-serif;
	color: #eee;
}


p,div,ul,li,svg{

}

.control-group span{
	font-family: 'Old Standard TT', serif;
}

#project-title{
	font-weight: 400;
	margin-top: 18px;
	border: 1px solid #fff;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 6px;
	position: absolute;
	padding: 10px 20px;
}

.btn{
	border-radius: 0px;
	background-color: #3A506B;
}

.btn-group button{
	border: 2px solid #323232;
}

.btn-group button:hover{
	border: 2px solid #eee;
	background-color: #3A506B;
	color: rgb(238, 238, 238);
	opacity: .8;
}

/*------------tooltip-------------*/
.tooltip{
	width: 150px;
	padding: 15px;
	background: yellow;
	position: absolute;
	top:0;
	opacity:0;
}

/*------------svg-----------------*/
.canvas .county{
	fill: rgb(50,50,50);
	stroke: #fff;
	stroke-width: .5px;
}

.canvas .state{
	/*fill: none;
	stroke:#fff;*/
	fill: #ccc;
	stroke: #323232;
	/*fill: #52D1DC;
	stroke: #323232;*/
	//stroke-width:1px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

